*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
  }
  
  :root{
    --main-color:#ff702a;
    --text-color:#4e2815;
    --bg-color:#f8f8f8;
  }
  *::selection{
    background: var(--main-color);
    color: #fff;
  
  }
  body{
    color: var(--text-color);
    background: var(--bg-color);
  
  }
  header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 30px 170px;
    transition-duration: .3s;
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    background-color: white;
  
  }
  .logo{
    margin-right: 10px;
  
  }
  .navbar li{
    position: relative;
  }
  .navbar{
    display: flex;
  }
  .navbar a{
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    padding: 10px 20px;
    font-weight: 500;
  
  }
  
  .navbar a::after{
    content:"";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
  }
  .navbar a:hover::after{
    width: 100%;
  }
  
  #menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  .top-btn {
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease .50s;
  }
  
  .top-btn:hover {
    transform: scale(1.1);
    background-color:#ff702a;
  }
  section{
    padding:70px 17%;
  
  }
  .believe{
    background-color:#1512101b;
    color: #ff702a;
  }
  .home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
  }
  
  
  
  .home-text h1{
    position: absolute;
    font-size:60px;
    color: var(--main-color);
  
  }
  .home-text h2{
    font-size:30px;
    margin: 11rem 0 2rem;
  }
  .btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
  }
  .btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
  }
  span{
    font-size: 20px;
  }
  .about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
  }
  .about-images{
    max-width: 100%;
    width:480px;
    height: auto;
  }
  .about-text span{
    color:var(--main-color);
    font-weight: 600;
  }
  .about-text h2{
    font-size: 35px;
  
  }
  .about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
  }
  .great small{
    font-size: 20px; 
  }
  .great h1{
    font-size: 30px;
  }
  
  .heading{
    text-align: center;
  }
  .heading span{
    color: var(--main-color);
    font-weight: 600;
  
  }
  .heading h2{
    font-size: 35px;
  }
   .menu-container{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(22px, auto));
     grid-gap: 1.5rem;
     align-items: center;
   }
   .box{
     position: relative;
     margin-top: 4rem;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background:rgba(133, 77, 133, 0.44);
     padding: 20px;
     border-radius: 0.5rem;
   }
   
   .ourrestaurant{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    background-color: #1512101b;
  }
  .restaurant span{
    color: #ff702a;
    font-size: 20px;
  }
  .restaurant h1{
    font-size: 35px;
  }
  
  
  
   .box-images{
     width: 220px;
     height: 220px;
   }
   .box-images{
     width: 100%;
     height: 100%;
   }
   .box h2{
     font-size: 1.3rem;
     color: var(--bg-color);
   }
   .box h3{
     color: var(--bg-color);
     font-size: 1rem;
     font-weight: 400;
     margin: 4px 0 10px;
   }
   .box span{
     font-size: var(--p-font);
     color:var(--main-color);
     font-weight: 600;
   }
   .box .bx{
     background: var(--main-color);
     position: absolute;
     right: 0;
     top: 0;
     font-size: 20px;
     padding: 7px 10px;
     border-radius: 0 0.5rem 0 0.5rem;
   }
   .service-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
  }
   .s-box{
     text-align: center;
     padding: 20px 30px;
   }
   .s-box images{
     width: 90px;
   }
   .s-box h3{
     margin: 4px 0 10px;
     color: var(--main-color);
     font-size: 1.2rem;
   }
   .s-box p{
     line-height: 1.7;
   }
   .cta{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: white;
     background:#4e2815;
     padding: 70px 0;
     text-align: center;
     width: 66%;
     margin: 100px auto;
     border-radius: 10px;
     box-shadow:8px 8px 8px #ff702a;
   }
   .services{
  background-image: url(images/istockphoto-1165399909-612x612.jpg);
  background-position:cover;
  background-size: contain;
  }
  
  
   #book{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
   }
   .btn2{
    padding: 9px 30px;
    background:#ff702a;
    color: black;
    border-radius: 5px;
    transition: ease .50s;
   }
   .btn2:hover{
    background-color:#4e2815;
   }
   .main{
     display: flex;
     flex-wrap: wrap;
   }
   .footer{
     padding:10px 0;
   }
   .col{
     width: 25%;
   }
  .col h4{
    font-size: 1.2rem;
    color:var(--text-color);
    margin-bottom: 25px;
    position: relative;
  }
  .col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
  
  }
  .col ul li:not(last-child){
    margin-bottom:15px;
  
  }
  .col ul li a{
    color:black;
    font-size:1.1rem;
    display:block;
    text-transform: capitalize;
    transition: .4s;
  }
  .col ul li a:hover{
    color: var(--text-color);
    transform: translateX(-12px);
  }
  .col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .col .social a{
    height:40px;
    width:40px;
    background: var(--main-color);
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
  }
  .col .social a:hover{
    transform: scale(1.2);
    color: var(--bg-color);
  }
  
  @media screen and (max-width:600px) {
    .home{
      font-size:15px;
      padding: 20px;
    }
    .home-text p{
  justify-content:space-around;
    }
    .home-text h2{
      margin: 11rem 0 2rem;
    }
    .home-images{
      width: 500px;
    }
    .video{
  width: 400px;
  height: 200px;
    }
  .about{
  width: 500px;
  right: 0;
    }
  }